<div class="container-fluid">
  <!--Section: Pricing v.6-->
  <section class="section pb-3">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4 orange-text">
      <button class="btn blue btn-rounded waves-light menu" mdbRippleRadius (click)='onBack()'>
        <i class="fa fa-chevron-circle-left" aria-hidden="true"> MENU</i>
      </button>Choisir son ticket</h1>
    <!--Section description-->
    <p class="section-description"></p>

    <!--Grid row-->
    <div class="row" >
      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-r">
        <!--Pricing card-->
        <div class="card pricing-card white-text" (click)="add('enfant')">
          <!--Price-->
          <div class="header aqua-gradient">
            <h4>ENFANTS</h4>
          </div>
          <!--Price-->

          <!--Features-->
          <div class="card-body striped green-striped card-background heading px-5">
            <h1 class="my-4">7€</h1>
            <ul>
              <li>
                <p class="mt-1">
                  <strong>1</strong> Entrée</p>
              </li>
              <li>
                <p>
                  <strong></strong>sortie définitive</p>
              </li>
            </ul>

            <button class="mb-3 mt-3 btn aqua-gradient btn-rounded waves-light" mdbRippleRadius >AJOUTER PANIER</button>
          </div>
          <!--Features-->

        </div>
        <!--Pricing card-->
      <!--Grid column-->
      </div>
      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-r">
        <!--Pricing card-->
        <div class="card pricing-card white-text" (click)="add('adulte')">
          <!--Price-->
          <div class="header orange-gradient">
            <h4>ADULTES</h4>
          </div>
          <!--Price-->

          <!--Features-->
          <div class="card-body striped orange-striped card-background heading px-5">
            <h1 class="my-4">10€</h1>
            <ul>
              <li>
                <p class="mt-1">
                  <strong>1</strong> Entrée</p>
              </li>
              <li>
                <p>
                  <strong></strong>sortie définitive</p>
              </li>

            </ul>

            <button class="mb-3 mt-3 btn peach-gradient btn-rounded waves-light" mdbRippleRadius>AJOUTER PANIER</button>
          </div>
          <!--Features-->

        </div>
        <!--Pricing card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-r">
        <!--Pricing card-->
        <div class="card pricing-card white-text" (click)="add('groupe')">
          <!--Price-->
          <div class="header purple-gradient">
            <h4>GROUPES</h4>
          </div>
          <!--Price-->

          <!--Features-->
          <div class="card-body striped purple-striped card-background heading px-5">
            <h1 class="my-4">5€</h1>
            <ul>
              <li>
                <p class="mt-1">
                  <strong>1</strong> Entrée</p>
              </li>
              <li>
                <p>
                  <strong>10</strong> prs/ minimum</p>
              </li>
            </ul>

            <button class="mb-3 mt-3 btn purple-gradient btn-rounded waves-light" mdbRippleRadius>AJOUTER PANIER</button>
          </div>
          <!--Features-->
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--CART ROW-->
      <div class="col-lg-3 col-md-12 mb-r">
          <!--Pricing card-->
          <div class="card pricing-card white-text">
            <!--Price-->
            <div class="header elegant-color">
              <h4>VOTRE PANIER <div class="chip green" *ngIf="cart !== 0">{{cart}}</div></h4>
              <div class="chip yellow font-weight-bold mx-auto" *ngIf="total !== 0"><h2>{{total}},00 €</h2></div>
            </div>
            <!--Price-->
  
            <!--Features-->
            <!--PANIER-->
            <div class="card-body striped purple-striped card-background heading px-5" >
              <h1 class="my-4" *ngIf="cart === 0">Votre panier est vide </h1>
              <ul *ngIf="cart !== 0" >
                <li *ngIf="tickets[0].qty !== 0">
                  <p class="mt-1" >
                    Ticket(s): {{tickets[0].name}}</p>
                    <div class="chip red w-25" (click)="less('adulte')"><i class="fa fa-2x fa-minus"></i></div><div class="chip peach-gradient w-25"><p class="w-100 font-weight-bold" >{{tickets[0].qty}}</p></div><div class="chip green w-25" (click)='more("adulte")'><i class="fa fa-2x fa-plus"></i></div>
                </li>
                <li *ngIf="tickets[1].qty !== 0">
                    <p class="mt-1" >Ticket(s): {{tickets[1].name}}</p>
                    <div class="chip red w-25" (click)="less('enfant')"><i class="fa fa-2x fa-minus"></i></div><div class="chip aqua-gradient w-25"><p class="w-100 font-weight-bold" >{{tickets[1].qty}}</p></div><div class="chip green w-25" (click)='more("enfant")'><i class="fa fa-2x fa-plus"></i></div>
                </li>
                <li *ngIf="tickets[2].qty !== 0">
                    <p class="mt-1" >Ticket(s): {{tickets[2].name}}</p>
                    <div class="chip red w-25" (click)="less('groupe')"><i class="fa fa-2x fa-minus"></i></div><div class="chip purple-gradient w-25"><p class="w-100 font-weight-bold" >{{tickets[2].qty}}</p></div><div class="chip green w-25" (click)='more("groupe")'><i class="fa fa-2x fa-plus"></i></div>
                </li>
              </ul>
  
              <button class="mb-3 mt-3 btn w-100 btn-rounded waves-light" mdbRippleRadius [disabled]="cart === 0" [style.background]="cart === 0 ? '#ffbb33' : '#00C851'" (click)="style.show()">PAYER</button>
            </div>
            <!--Features-->
          </div>
          <!--Grid column-->
  
        </div>
    </div>
    <!--MODALS VALIDATION PANIER-->
    <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="heading lead mx-auto">Valider votre panier</h1>
                    
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                        <h2>Voulez vous vraiment valider votre panier ?</h2>
                        <h3>Prochaine étape paiement</h3>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-primary-modal waves-light"  (click)="payer()" mdbRippleRadius>Valider<i class="fa fa-diamond ml-1"></i></a>
                    <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Annuler</a>
                </div>
            </div>
        </div>
    </div>
    <!--MODALS INSTRUCTIONS TERMINAL DE PAIEMENT-->
    <div mdbModal #CB="mdb-modal" [config]="{ ignoreBackdropClick: true }" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="heading lead mx-auto">PAIEMENT CB</h1>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                        <h2>Veuillez suivre les instructions sur le terminal de paiement...</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--MODALS DISPENSER-->
    <div mdbModal #dispenser="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-info" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="heading lead mx-auto">CARTE D'ABONNEMENT</h1>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                      <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                      <h2>Veuillez récupérer votre carte d'abonnement, merci</h2>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
  <!--BACK ANNULATION-->
  <div mdbModal #back="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="heading lead mx-auto">RETOUR AU MENU</h1>
                
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <h2>Voulez vous vraiment annuler votre panier ?</h2>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light"  (click)="onBackValid()" mdbRippleRadius>Valider<i class="fa fa-diamond ml-1"></i></a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="back.hide()" mdbRippleRadius>Annuler</a>
            </div>
        </div>
    </div>
</div>

  </section>
  <!--Section: Pricing v.1-->
  
</div>
