<header>
  <!--Intro Section-->
  <section class="view intro-video">
    <video poster="../../assets/bkg.jpg" playsinline autoplay muted loop>
      <source src="../../assets/video.mp4" type="video/mp4">
    </video>
    <div class="hm-blue-light">
      <div class="full-bg-img">
        <div class="container  flex-column ">
          <div class="row flex-column">
            <div class=" d-flex justify-content-center">
              <h1 class="h1-responsive font-weight-bold white-text mt-5"> BIENVENUE AU CENTRE APLUSQUATIQUE
              </h1>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>

  </section>
</header>

