<div class="container">
  <div class="row mt-5 pt-5" >
    <!--Panel-->
    <div class="card card-body rgba-stylish-strong lighten-2 z-depth-5" type="button" routerLink="/tickets" routerLinkActive="active">
      <h2 class="card-title font-weight-bold text-center orange-text">APPUYER POUR CHOISIR TICKET : </h2>
      <h3 class="card-text white-text text-center">ADULTE, ENFANT, GROUPE & ENTREPRISE</h3>
    </div>
  </div>
  <div class="row mt-5 pt-5" >
    <!--Panel-->
    <div class="card card-body rgba-stylish-strong lighten-2 z-depth-5" type="button"  routerLink="/abo"  routerLinkActive="active">
      <h2 class="card-title font-weight-bold text-center blue-text">APPUYER POUR CHOISIR ABONNEMENT : </h2>
      <h3 class="card-text white-text text-center">ADULTE, ENFANT, GROUPE & ENTREPRISE</h3>
    </div>
  </div>
</div>
