.container {
    margin-top:200px;
}
.modal {
    top:80px;
    
}

/*.in {
    opacity: .5 !important;
}
.modal-ticket .modal-body {
    background:rgba(243, 239, 239, 0.5);
    
}
.modal-ticket .modal-header {
    background:rgba(243, 239, 239, 0.5);
}*/
