<div class="container">
  <div class="row mt-5 pt-5" *ngIf="modal" >
    <!--Panel-->
    <div class="card card-body rgba-stylish-strong lighten-2 z-depth-5" type="button" (click)=ticket()>
      <h2 class="card-title font-weight-bold text-center orange-text">APPUYER POUR CHOISIR TICKET : </h2>
      <h3 class="card-text white-text text-center">ADULTE, ENFANT, GROUPE & ENTREPRISE</h3>
    </div>
  </div>
  <div class="row mt-5 pt-5" *ngIf="modal">
    <!--Panel-->
    <div class="card card-body rgba-stylish-strong lighten-2 z-depth-5" type="button"  (click)=abonnement()  routerLinkActive="active">
      <h2 class="card-title font-weight-bold text-center blue-text">APPUYER POUR CHOISIR ABONNEMENT : </h2>
      <h3 class="card-text white-text text-center">ADULTE, ENFANT, GROUPE & ENTREPRISE</h3>
    </div>
  </div>
  </div>
  <!--MODALS TICKETS-->
  <div [config]="{class:'mt'}" mdbModal #ticketsModal="mdb-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
      <div class="modal-dialog central-modal modal-fluid" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="onBack()">
                      <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center" id="myModalLabel">Choisissez votre ticket</h4>
              </div>
              <div class="modal-body">
                  <div class="row" >
                      <!--Grid column-->
                      <div class="col-lg-2 col-md-12 mb-r">
                        <!--Pricing card-->
                        <div class="card pricing-card white-text" (click)="addTickets('enfant')">
                          <!--Price-->
                          <div class="header aqua-gradient">
                            <h4>ENFANTS</h4>
                          </div>
                          <!--Price-->
                
                          <!--Features-->
                          <div class="card-body striped green-striped card-background heading px-5">
                            <h1 class="my-4">7€</h1>
                            <ul>
                              <li>
                                <p class="mt-1">
                                  <strong>1</strong> Entrée</p>
                              </li>
                              <li>
                                <p>
                                  <strong></strong>sortie définitive</p>
                              </li>
                            </ul>
                
                            <button class="mb-3 mt-3 btn btn-lg aqua-gradient btn-rounded waves-light" mdbRippleRadius >AJOUTER PANIER</button>
                          </div>
                          <!--Features-->
                
                        </div>
                        <!--Pricing card-->
                      <!--Grid column-->
                      </div>
                      <!--Grid column-->
                      <div class="col-lg-2 col-md-12 mb-r">
                        <!--Pricing card-->
                        <div class="card pricing-card white-text" (click)="addTickets('adulte')">
                          <!--Price-->
                          <div class="header orange-gradient">
                            <h4>ADULTES</h4>
                          </div>
                          <!--Price-->
                
                          <!--Features-->
                          <div class="card-body striped orange-striped card-background heading px-5">
                            <h1 class="my-4">10€</h1>
                            <ul>
                              <li>
                                <p class="mt-1">
                                  <strong>1</strong> Entrée</p>
                              </li>
                              <li>
                                <p>
                                  <strong></strong>sortie définitive</p>
                              </li>
                
                            </ul>
                
                            <button class="mb-3 mt-3 btn btn-lg peach-gradient btn-rounded waves-light" mdbRippleRadius>AJOUTER PANIER</button>
                          </div>
                          <!--Features-->
                
                        </div>
                        <!--Pricing card-->
                      </div>
                      <!--Grid column-->
                
                      <!--Grid column-->
                      <div class="col-lg-2 col-md-12 mb-r">
                        <!--Pricing card-->
                        <div class="card pricing-card white-text" (click)="addTickets('groupe')">
                          <!--Price-->
                          <div class="header purple-gradient">
                            <h4>GROUPES</h4>
                          </div>
                          <!--Price-->
                
                          <!--Features-->
                          <div class="card-body striped purple-striped card-background heading px-5">
                            <h1 class="my-4">5€</h1>
                            <ul>
                              <li>
                                <p class="mt-1">
                                  <strong>1</strong> Entrée</p>
                              </li>
                              <li>
                                <p>
                                  <strong>10</strong> prs/ minimum</p>
                              </li>
                            </ul>
                            
                            <button class="mb-3 mt-3 btn btn-lg purple-gradient btn-rounded waves-light" mdbRippleRadius>AJOUTER PANIER</button>
                          </div>
                          <!--Features-->
                        </div>
                        <!--Grid column-->
                
                      </div>
                      <!--Grid row-->
                
                      <!--CART ROW-->
                      <div class="col-lg-6 col-md-12 mb-r">
                          <!--Pricing card-->
                          <div class="card pricing-card white-text">
                            <!--Price-->
                            <div class="header elegant-color">
                              <h4>VOTRE PANIER <div class="chip green" *ngIf="cart !== 0">{{cart}}</div></h4>
                              <div class="chip yellow font-weight-bold mx-auto" *ngIf="total !== 0"><h2>{{total}},00 €</h2></div>
                            </div>
                            <!--Price-->
                  
                            <!--Features-->
                            <!--PANIER-->
                            <div class="card-body striped purple-striped card-background heading px-5" >
                              <h1 class="my-4" *ngIf="cart === 0">Votre panier est vide </h1>
                              <ul *ngIf="cart !== 0" >
                                <li *ngIf="tickets[0].qty !== 0">
                                  <p class="mt-1" >
                                    Ticket(s): {{tickets[0].name}}</p>
                                    <button type="button" class="btn btn-lg btn-default w-25 waves-light" (click)="lessTickets('adulte')"><i class="fa fa-2x fa-minus"></i></button>
                                    <div class="chip peach-gradient w-10"><p class="font-weight-bold" >{{tickets[0].qty}}</p></div>
                                    <button type="button" class="btn btn-lg btn-secondary w-25 waves-light" (click)='moreTickets("adulte")'><i class="fa fa-2x fa-plus"></i></button>
                                </li>
                                <li *ngIf="tickets[1].qty !== 0">
                                    <p class="mt-1" >Ticket(s): {{tickets[1].name}}</p>
                                    <button type="button" class="btn btn-lg btn-default w-25 waves-light" (click)="lessTickets('enfant')"><i class="fa fa-2x fa-minus"></i></button>
                                    <div class="chip aqua-gradient w-10"><p class="font-weight-bold" >{{tickets[1].qty}}</p></div>
                                    <button type="button" class="btn btn-lg btn-secondary w-25 waves-light" (click)='moreTickets("enfant")'><i class="fa fa-2x fa-plus"></i></button>
                                </li>
                                <li *ngIf="tickets[2].qty !== 0">
                                    <p class="mt-1" >Ticket(s): {{tickets[2].name}}</p>
                                    <button type="button" class="btn btn-lg btn-default w-25 waves-light" (click)="lessTickets('groupe')"><i class="fa fa-2x fa-minus"></i></button>
                                    <div class="chip purple-gradient w-10"><p class="font-weight-bold" >{{tickets[2].qty}}</p></div>
                                    <button type="button" class="btn btn-lg btn-secondary w-25 waves-light" (click)='moreTickets("groupe")'><i class="fa fa-2x fa-plus"></i></button>
                                </li>
                              </ul>
                  
                              <button class="mb-3 mt-3 btn btn-lg w-100 btn-rounded waves-light" mdbRippleRadius [disabled]="cart === 0" [style.background]="cart === 0 ? '#ffbb33' : '#00C851'" (click)="style.show()">PAYER</button>
                            </div>
                            <!--Features-->
                          </div>
                          <!--Grid column-->
                  
                        </div>
                    </div>
              </div>
              
          </div>
      </div>
      <!--BACK ANNULATION-->
  
  </div>
  <div mdbModal #abosModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
      <div class="modal-dialog modal-fluid" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="onBack()">
                      <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center" id="myModalLabel">Choisissez votre abonnement</h4>
              </div>
              <div class="modal-body">
                  <div class="row">

                      <!--First column-->
                      <div class="col-lg-2 col-md-12 mb-r">
                
                        <!--Pricing card-->
                        <div class="card pricing-card" (click)="add('enfant')">
                          <!--Price-->
                          <div class="price header blue">
                            <h1>70</h1>
                            <div class="version">
                              <h5>Enfants</h5>
                            </div>
                          </div>
                          <!--/.Price-->
                
                          <!--Features-->
                          <div class="card-body striped">
                            <ul>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Slip de bain</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Bonnet de bain </p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Serviette de bain</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Casier sécurisé</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Claquette </p>
                              </li>
                            </ul>
                
                            <button class="btn btn-lg btn-blue waves-light" mdbRippleRadius>AJOUTER PANIER</button>
                          </div>
                          <!--/.Features-->
                
                        </div>
                        <!--/.Pricing card-->
                
                      </div>
                      <!--/First column-->
                
                      <!--Second column-->
                      <div class="col-lg-2 col-md-6 mb-r">
                
                        <!--Pricing card-->
                        <div class="card pricing-card" (click)="add('adulte')">
                          <!--Price-->
                          <div class="price  header indigo">
                            <h1>100</h1>
                            <div class="version">
                              <h5>Adultes</h5>
                            </div>
                          </div>
                          <!--/.Price-->
                
                          <!--Features-->
                          <div class="card-body striped">
                            <ul>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Slip de bain</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Bonnet de bain </p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Serviette de bain</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Casier sécurisé</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Claquette </p>
                              </li>
                            </ul>
                
                            <button class="btn btn-lg btn-indigo waves-light" mdbRippleRadius>AJOUTER PANIER</button>
                          </div>
                          <!--/.Features-->
                
                        </div>
                        <!--/.Pricing card-->
                
                      </div>
                      <!--/Second column-->
                
                      <!--Third column-->
                      <div class="col-lg-2 col-md-6 mb-r">
                        <!--Pricing card-->
                        <div class="card pricing-card" (click)="add('groupe')">
                          <!--Price-->
                          <div class="price header deep-purple">
                            <h1>50</h1>
                            <div class="version">
                              <h5>Groupes</h5>
                            </div>
                          </div>
                          <!--/.Price-->
                
                          <!--Features-->
                          <div class="card-body striped">
                            <ul>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Slip de bain</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Bonnet de bain </p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Serviette de bain</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Casier sécurisé</p>
                              </li>
                              <li>
                                <p>
                                  <i class="fa fa-check"></i> Claquette </p>
                              </li>
                            </ul>
                
                            <button class="btn btn-lg btn-deep-purple waves-light" mdbRippleRadius>AJOUTER PANIER</button>
                          </div>
                          <!--/.Features-->
                
                        </div>
                        <!--/.Pricing card-->
                      </div>
                      <!--/Third column-->
                      <!--abo ROW-->
                      <div class="col-lg-6 col-md-12 mb-r">
                        <!--Pricing card-->
                        <div class="card pricing-card white-text">
                          <!--Price-->
                          <div class="header elegant-color">
                            <h4>VOTRE PANIER <div class="chip green" *ngIf="abo !== 0" style="width:50px; font-size:2rem">{{abo}}</div></h4>
                            <div class="chip yellow font-weight-bold mx-auto" *ngIf="total !== 0"><h2>{{total}},00 €</h2></div>
                          </div>
                          <!--Price-->
                
                          <!--Features-->
                          <!--PANIER-->
                          <div class="card-body striped purple-striped card-background heading px-5" >
                            <h1 class="my-4" *ngIf="abo === 0">Votre panier est vide </h1>
                            <ul *ngIf="abo !== 0" >
                              <li *ngIf="abos[0].qty !== 0">
                                <p class="mt-1" >
                                  Abonnement(s): {{abos[0].name}}</p>
                                  <button type="button" class="btn btn-lg btn-default w-25 waves-light" (click)="less('adulte')"><i class="fa fa-2x fa-minus"></i></button>
                                  <div class="chip indigo w-10"><p class=" font-weight-bold" >{{abos[0].qty}}</p></div>
                                  <button type="button" class="btn btn-lg btn-secondary w-25 waves-light" (click)='more("adulte")'><i class="fa fa-2x fa-plus"></i></button>
                              </li>
                              <li *ngIf="abos[1].qty !== 0">
                                  <p class="mt-1" >Abonnement(s): {{abos[1].name}}</p>
                                  <button type="button" class="btn btn-lg btn-default w-25 waves-light" (click)="less('enfant')"><i class="fa fa-2x fa-minus"></i></button>
                                  <div class="chip blue w-10"><p class="font-weight-bold" >{{abos[1].qty}}</p></div>
                                  <button type="button" class="btn btn-lg btn-secondary w-25 waves-light" (click)='more("enfant")'><i class="fa fa-2x fa-plus"></i></button>
                              </li>
                              <li *ngIf="abos[2].qty !== 0">
                                  <p class="mt-1" >Abonnement(s): {{abos[2].name}}</p>
                                  <button type="button" class="btn btn-lg btn-default w-25 waves-light" (click)="less('groupe')"><i class="fa fa-2x fa-minus"></i></button>
                                  <div class="chip deep-purple w-10"><p class="font-weight-bold" >{{abos[2].qty}}</p></div>
                                  <button type="button" class="btn btn-lg btn-secondary w-25 waves-light" (click)='more("groupe")'><i class="fa fa-2x fa-plus"></i></button>
                              </li>
                            </ul>
                
                            <button class="mb-3 mt-3 btn btn-lg w-100 btn-rounded waves-light" mdbRippleRadius [disabled]="abo === 0" [style.background]="abo === 0 ? '#ffbb33' : '#00C851'" (click)="style.show()">PAYER</button>
                          </div>
                          <!--Features-->
                        </div>
                        <!--Grid column-->
                
                      </div>
                    </div>
              </div>
              
          </div>
      </div>
  </div>
  <!--MODAL NOTIFICATION-->
  <div mdbModal #back="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-danger modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-h<!--MODALS DISPENSER-->
                <div mdbModal #dispenser="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-notify modal-success modal-lg" role="document">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h1 class="heading lead mx-auto">CARTE D'ABONNEMENT</h1>
                         </div>
                         <div class="modal-body">
                             <div class="text-center">
                                 <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                                 <h2>Veuillez récupérer votre carte d'abonnement, merci</h2>
                             </div>
                         </div>
                         
                     </div>
                 </div>
               </div>eader">
                  <h1 class="heading lead mx-auto">RETOUR AU MENU</h1>
                  
              </div>
              <div class="modal-body">
                  <div class="text-center">
                      <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                      <h2>Voulez vous vraiment annuler votre panier ?</h2>
                  </div>
              </div>
              <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-lg btn-primary-modal waves-light"  (click)="onBackValid()" mdbRippleRadius>Valider<i class="fa fa-diamond ml-1"></i></a>
                  <a type="button" class="btn btn-lg btn-outline-secondary-modal" data-dismiss="modal" (click)="back.hide()" mdbRippleRadius>Annuler</a>
              </div>
          </div>
      </div>
  </div>
  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="heading lead mx-auto">VALIDER VOTRE PANIER</h1>
                
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <h2>Voulez vous vraiment valider votre panier ?</h2>
                    <h3>Prochaine étape: PAIEMENT</h3>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-lg btn-primary-modal waves-light"  (click)="payer()" mdbRippleRadius>Valider<i class="fa fa-diamond ml-1"></i></a>
                <a type="button" class="btn btn-lg btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Annuler</a>
            </div>
        </div>
    </div>
</div>
 <!--MODALS INSTRUCTIONS TERMINAL DE PAIEMENT-->
 <div mdbModal #CB="mdb-modal" [config]="{ ignoreBackdropClick: true }" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="heading lead mx-auto">PAIEMENT CB</h1>
          </div>
          <div class="modal-body">
              <div class="text-center">
                  <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                  <h2>Veuillez suivre les instructions sur le terminal de paiement...</h2>
              </div>
          </div>
          
      </div>
  </div>
</div>
<!--MODALS DISPENSER-->
<div mdbModal #dispenser="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-notify modal-success modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="heading lead mx-auto">CARTE D'ABONNEMENT</h1>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                <h2>Veuillez récupérer votre carte d'abonnement, merci</h2>
            </div>
        </div>
        
    </div>
</div>
</div>
<!--INCIDENT PAIEMENT-->
<div mdbModal #incident="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="heading lead mx-auto">INCIDENT TRANSACTION</h1>
              
          </div>
          <div class="modal-body">
              <div class="text-center">
                  <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                  <h2>Voulez vous réessayer ?</h2>
              </div>
          </div>
          <div class="modal-footer justify-content-center">
              <a type="button" class="btn btn-lg btn-primary-modal waves-light"  (click)="payer()" mdbRippleRadius>Valider<i class="fa fa-diamond ml-1"></i></a>
              <a type="button" class="btn btn-lg btn-outline-secondary-modal" data-dismiss="modal" (click)="onBackValid()" mdbRippleRadius>Annuler</a>
          </div>
      </div>
  </div>
</div>

