<div class="container mt-5">
  <div class="row mt-5 pt-5">

    <!--Panel-->
    <div class="card card-body grey lighten-2 z-depth-5" type="button" routerLink="/tickets" routerLinkActive="active">
      <h4 class="card-title text-center orange-text">APPUYER POUR CHOISIR TICKET : </h4>
      <p class="card-text text-center">ADULTE, ENFANT, GROUPE</p>

    </div>
    
  </div>
  <div class="row mt-5 pt-5">

    <!--Panel-->
    <div class="card card-body grey lighten-2 z-depth-5" type="button" routerLink="/abo" routerLinkActive="active">
      <h4 class="card-title text-center blue-text">APPUYER POUR CHOISIR ABONNEMENT : </h4>
      <p class="card-text text-center">ADULTE, ENFANT, GROUPE</p>

    </div>
    
  </div>
  </div>